
    	<div class="container_15">
    		<div class="grid_15">
    		<ul>
    			<li><a href="/">Home</a></li>
    			<?
    			foreach ($galerias as $galeria){
    			?><li><a href="/galerias/view/<?= $galeria->id ?>"><?= $galeria->title ?></a></li>
    			<? 	
    			} 
    			foreach ($paginas as $pagina) {
    			?><li><a href="/paginas/view/<?= $pagina->id ?>"><?= $pagina->title ?></a>
    			<? 
    			}
    			?>
    		</ul>
    		<?
    			
    		?>
    		</div>
    	</div>
