@CHARSET "UTF-8";

html {
	height: 100%;
}


.admin {
	background: #333d43;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	position: relative;
	height: 100%;
}

.main, .content {
	height: 90%;
}

.content div.container {
	height: 100%;
	background-color: #e8ffff;
	box-shadow: 5px 0 20px rgba(192, 192, 192, 0.6), 6px 0 6px rgba(192, 192, 192, 0.2);
	border-radius: 5px;
	overflow-y: scroll;
}

.content .editor.pages {
	padding-top: 5px;
}

.content .editor {
	text-align: center;
}

.content .editor_pages input {
	height: 90%;
	width: 760px;
}

.content .editor input,
.content .editor textarea {
	box-sizing: border-box;
	width: 100%;
}

.content .items_list {
	overflow: auto;
}

.content .editor_photos img {
	width: auto;
	max-height: 300px;
}

table.files_list tr.file_not_included {
	background: #f5f5d5;
}

table {
	overflow-y: scroll;
	background: #f5f5f5;
	border-collapse: collapse;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 14px;
	width: 100%;
}

table button {
	zoom: 1;
	background: #36b0b6;
	background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
	background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 3px ;
	border:none;
	color: #fff;
	box-shadow:  1px 1px 2px #133e40;
}

table button.submit {
	padding: 10px ;
}

table button.disabled {
	color: #666;
	background: #16a0a6;
}

table button.action {
	height: 20px;
	width: 20px;
}

table tr:first-child button.action.up,
table tr:last-child button.action.down {
	visibility: hidden;
}

table button img{
	height: 15px;
	width: 15px;
}
table thead {
	zoom: 1;
	background: #36b0b6;
	background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
	background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 0;
}

th {
	color: #fff;
	padding: 10px 5px;
	position: relative;	
}

th.preview {
	width: 70px;
}

th.id {
	width: 35px;
}

th.action {
	width: 50px;
}

th:first-child {
	border-radius: 3px 0 0 0;
}

th:last-child {
	border-radius: 0 3px 0 0;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 2px 5px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
	border-right: 0px;
	
}

table td:last-child {
	text-align: center;
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover tr:hover td {
	background: #e5e5e5;
}

tfoot tr td {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}