@CHARSET "UTF-8";

#logo {
	text-align: center;
	margin-bottom: 30px;
}

#left-column ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	text-transform: uppercase;
	font-family: Verdana;
	font-weight: 900;
}

#left-column #afiches {
	color: #a11211;
	font-size:16pt;
}

#left-column #carteleria-china {
	color: #ffffff;
	background-color: #000000;
	margin-bottom: 20px;
	font-size:17pt;
}

#left-column #contacto {
	text-align: center;
	margin-bottom: 20px;
	font-size:13pt;
}

#left-column #categories {
	margin-bottom: 40px;
}

#left-column ul#categories li:nth-child(even) {
	text-align: right;
}

#content {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#content-left {
	paddign-left: 20px;
}

#content-left ul.thumbnails {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	display: none;
}

#content-left ul.thumbnails.visible {
	display: initial;
}

#content-left ul.thumbnails li {
	float: left;
	display: list-item;
	padding: 0px;
	margin: 5px;
	opacity: 0.667;
	transition-property: opacity;
	transition-duration: 0.25s;
	-webkit-transition-property: opacity;
	-webkit-transition-property: 0.25s;
}

#content-left ul.thumbnails li.selected,
#content-left ul.thumbnails li:hover {
	opacity: 1;
}

#content-left ul.thumbnails li a {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;	
}

#content-left ul.thumbnails li.selected a {
	background: #000;
}

#content-left ul.thumbnails li a img {
	border: none;
	display: block;
}

#content-left .pagination {
	margin-bottom:12px;
	margin-left: 5px;
	height: 11px;
	clear:both;
}

#content-left .pagination img.navigation {
	height: 12px;
}

#content-left .pagination a {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #777;
}

#content-left .pagination a: hover {
	background-color: #ccc;
}

#content-left .pagination a.current {
	font-weight: bold;
	background-color: #000;
	border-color: #fff;
	color: #fff;
	pointer-events: none;
	cursor: default;
}

.inactive-link {
	pointer-events: none;
	cursor: default;
}

#content .alpha.omega,
#content #content-right {
	height: 600px;
}

#content-right .image_centerer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#content-right .slideshow {
	position: absolute;
	height: 100%;
	width: 100%;
	display: table;
	z-index: 1;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.75s;
	-webkit-transition-property: opacity;
	-webkit-transition-property: 0.75s;
}

#content-right .slideshow.front {
	z-index: 2;
	opacity: 1;
}