@CHARSET "UTF-8";

.no_overflow {
	overflow: hidden;
}

.gallery {
	height: 900px;
}

.gallery_controls {
	height: 680px;
}

.gallery_controls {
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 6;
}

.gallery_item {
	height: 900px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
	-webkit-transition: all 500ms cubic-bezier(0.115, 0.740, 0.255, 0.910); 
	-moz-transition: all 500ms cubic-bezier(0.115, 0.740, 0.255, 0.910); 
	-o-transition: all 500ms cubic-bezier(0.115, 0.740, 0.255, 0.910); 
	transition: all 500ms cubic-bezier(0.115, 0.740, 0.255, 0.910);
}


.gallery_item .centerer img {
	max-width: 1180px;
	max-height: 700px;
	vertical-align: bottom;
}

.gallery_item .centerer:before {
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.gallery_item .foto_info h1 {
	font-family: 'amaranth', Arial;
}

.gallery_item .foto_info p {
	font-family: 'rawengulk', sans-serif;
}

.gallery_item .foto_info p {
	font-size: 12pt;
}

.gallery_item.p {
	left: -300px;
	opacity: 0;
}

.gallery_item.n {
	left: 300px;
	opacity: 0;
}

.gallery_control {
	height: 680px;
	width: 50%;
	position: absolute;
}

.gallery_control.left {
	left: 0px;
}

.gallery_control.right {
	right: 0px;
}

.gallery_control .icon{
	width:21px;
	height: 39px;
	background-position: 0px 0px;
}

.gallery_control .icon_padding {
	padding: 50px;
	position: absolute;
	top: 50%;
}

.gallery_control.left .icon_padding {
	left: 0;
}

.gallery_control.right .icon_padding {
	right: 0;
}

.gallery_control.left .icon {
	background: url("/img/gallery/left.png") no-repeat scroll 0 0 transparent;
}

.gallery_control.right .icon {
	background: url("/img/gallery/right.png") no-repeat scroll 0 0 transparent;
}

.gallery_control .icon_padding:hover .icon{
	background-position: 0 -39px;
}

.image_placeholder {
	background: #ccc;
}

.image_centerer {
	display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif; 
}