@CHARSET "UTF-8";

@font-face {
    font-family: 'greatlakesnfregular';
    src: url('/fonts/greatlakesnf/greatlakesnf.eot');
    src: url('/fonts/greatlakesnf/greatlakesnf.eot?#iefix') format('embedded-opentype'),
         url('/fonts/greatlakesnf/greatlakesnf.woff') format('woff'),
         url('/fonts/greatlakesnf/greatlakesnf.ttf') format('truetype'),
         url('/fonts/greatlakesnf/greatlakesnf.svg#greatlakesnfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minstrelposterwhgregular';
    src: url('/fonts/minstrelposter/minstrelposter.eot');
    src: url('/fonts/minstrelposter/minstrelposter.eot?#iefix') format('embedded-opentype'),
         url('/fonts/minstrelposter/minstrelposter.woff') format('woff'),
         url('/fonts/minstrelposter/minstrelposter.ttf') format('truetype'),
         url('/fonts/minstrelposter/minstrelposter.svg#minstrelposterwhgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'virtualrotregular';
    src: url('/fonts/VirtualRot/VirtualRot-Regular.eot');
    src: url('/fonts/VirtualRot/VirtualRot-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/VirtualRot/VirtualRot-Regular.woff') format('woff'),
         url('/fonts/VirtualRot/VirtualRot-Regular.ttf') format('truetype'),
         url('/fonts/VirtualRot/VirtualRot-Regular.svg#greatlakesnfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivonarrow';
    src: url('/fonts/ArchivoNarrow/ArchivoNarrow-Regular.otf') format('opentype'),
         url('/fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivonarrow';
    src: url('/fonts/ArchivoNarrow/ArchivoNarrow-Bold.otf') format('opentype'),
         url('/fonts/ArchivoNarrow/ArchivoNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'archivonarrow';
    src: url('/fonts/ArchivoNarrow/ArchivoNarrow-Italic.otf') format('opentype'),
         url('/fonts/ArchivoNarrow/ArchivoNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'archivonarrow';
    src: url('/fonts/ArchivoNarrow/ArchivoNarrow-BoldItalic.otf') format('opentype'),
         url('/fonts/ArchivoNarrow/ArchivoNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'amaranth';
    src: url('/fonts/amaranth/Amaranth-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rawengulk';
    src: url('/fonts/rawengulk_sans/RawengulkSans-094.ttf') format('truetype'),
    	 url('/fonts/rawengulk_sans/RawengulkSans-094.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spinnaker-Regular';
    src: url('/fonts/spinnaker/Spinnaker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

