@CHARSET "UTF-8";

.checks {
	color: #626262;
	background-color: #B7E3EC;
	border-radius: 3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.container_15 {
	width: 1560px; 
	MARGIN-LEFT : auto;
	MARGIN-RIGHT: auto;
}

.row {
	width: 1560px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#content .marginer {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 13px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8,
	.grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15 {
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.imageHolder {
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.frame_3 {
	height: 212px;
}

.frame_6 {
	height: 424px;
}

.frame_9 {
	height: 635px;
}

.frame_12 {
	height: 848px;
}

.frame_15 {
	height: 950px;
}

.row .grid_1 {
	width: 6.6666667%;
}

.row .grid_2 {
	width: 15%;
}

.row .grid_3 {
	width: 23.3333333%;
}

.row .grid_4 {
	width: 31.6666667%;
}

.row .grid_5 {
	width: 40%;
}

.row .grid_6 {
	width: 48.3333333%;
}

.row .grid_7 {
	width: 56.6666667%;
}

.row .grid_8 {
	width: 65%;
}

.row .grid_9 {
	width: 73.3333333%;
}

.row .grid_10 {
	width: 81.6666667%;
}

.row .grid_11 {
	width: 90%;
}

.row .grid_12 {
	width: 98.3333333%;
}

.container_15 .grid_1 {
	width: 78px
}

.container_15 .grid_2 {
	width: 182px
}

.container_15 .grid_3 {
	width: 312px
}

.container_15 .grid_4 {
	width: 416px
}

.container_15 .grid_5 {
	width: 510px
}

.container_15 .grid_6 {
	width: 624px
}

.container_15 .grid_7 {
	width: 728px
}

.container_15 .grid_8 {
	width: 832px
}

.container_15 .grid_9 {
	width: 936px
}

.container_15 .grid_10 {
	width: 1040px
}

.container_15 .grid_11 {
	width: 1144px
}

.container_15 .grid_12 {
	width: 1248px
}

.container_15 .grid_15 {
	width: 1560px;
}

.clear {
	width: 0px;
	DISPLAY: block;
	HEIGHT: 0px;
	VISIBILITY: hidden;
	CLEAR: both;
	OVERFLOW: hidden
}

.clearfix:after {
	LINE-HEIGHT: 0;
	width: 0px;
	DISPLAY: block;
	HEIGHT: 0px;
	VISIBILITY: hidden;
	CLEAR: both;
	FONT-SIZE: 0px;
	CONTENT: ' '
}

.clearfix {
	DISPLAY: inline-block
}

* HTML .clearfix {
	HEIGHT: 1%
}

.clearfix {
	DISPLAY: block
}

@media ( max-width : 1599px) {
	.container_15 .grid_1 {
		width: 80px;
	}
	.container_15 .grid_2 {
		width: 160px;
	}
	.container_15 .grid_3 {
		width: 240px;
	}
	.container_15 .grid_4 {
		width: 320px;
	}
	.container_15 .grid_5 {
		width: 400px;
	}
	.container_15 .grid_6 {
		width: 480px;
	}
	.container_15 .grid_7 {
		width: 560px;
	}
	.container_15 .grid_8 {
		width: 640px;
	}
	.container_15 .grid_9 {
		width: 720px;
	}
	.container_15 .grid_10 {
		width: 800px;
	}
	.container_15 .grid_11 {
		width: 880px;
	}
	.container_15 .grid_12 {
		width: 960px;
	}
	.container_15 .grid_15 {
		width: 1200px;
	}
	.container_15, .row {
		width: 1200px;
	}
	.frame_3 {
		height: 163px;
	}
	.frame_6 {
		height: 326px;
	}
	.frame_9 {
		height: 489px;
	}
	.frame_12 {
		height: 652px;
	}
	
	.frame_15 {
		height: 735px;
	}
	
	#content .marginer {
		padding: 10px;
	}
	
}


@media ( max-width : 1250px) {
	.container_15, .row {
		width: 960px;
	}
	.container_15 .grid_1 {
		width: 64px;
	}
	.container_15 .grid_2 {
		width: 128px;
	}
	.container_15 .grid_3 {
		width: 192px;
	}
	.container_15 .grid_4 {
		width: 256px;
	}
	.container_15 .grid_5 {
		width: 320px;
	}
	.container_15 .grid_6 {
		width: 384px;
	}
	.container_15 .grid_7 {
		width: 448px;
	}
	.container_15 .grid_8 {
		width: 512px;
	}
	.container_15 .grid_9 {
		width: 576px;
	}
	.container_15 .grid_10 {
		width: 640px;
	}
	.container_15 .grid_11 {
		width: 702px;
	}
	.container_15 .grid_12 {
		width: 768px;
	}
	.container_15 .grid_15 {
		width: 960px;
	}
	.frame_3 {
		height: 122px;
	}
	.frame_6 {
		height: 245px;
	}
	.frame_9 {
		height: 375px;
	}
	.frame_12 {
		height: 490px;
	}
	.frame_15 {
		height: 572px;
	}
	#content .marginer {
		padding: 8px;
	}
}

@media ( max-width : 1026px) {
	.container_15, .row {
		width: 720px;
	}

	.container_15 .grid_3 {
		width: 246px;
	}
	
	.container_15 .grid_6 {
		width: 720px;
	}
	
	.container_15 .grid_9 {
		width: 720px;
	}
	
	.container_15 .grid_12 {
		width: 564px;
	}

	.container_15 .grid_15 {
		width: 720px;
	}
	.frame_3 {
		height: 158px;
	}
	.frame_6 {
		height: 316px;
	}
	.frame_9 {
		height: 281px;
	}
	.frame_12 {
		height: 900px;
	}
	
	.frame_15 {
		height: 430px; 
	}
	
	.container_15.frame_6 .grid_3 {
		width: 720px;
	}
	
	.container_15.frame_6 .grid_3.frame_6 {
		height: 900px;
	}
	
	.grid_3 .grid_3.frame_3{
		width: 360px;
		height: 208px;
	}
	
	.grid_9 .grid_9 .grid_3 .grid_3.frame_3 {
		width: 246px;
		height: 158px;
	}
	
	.grid_6.frame_6 {
		height: 412px;
	}
	
	.grid_9 .grid_6,
	.grid_6 .grid_6 {
		width: 474px;
		height: 316px;
	}
	
	.grid_9 .grid_6.frame_12,
	.grid_9.frame_12 {
		height: 632px;
	}
	
	#content .marginer {
		padding: 10px;
	}
}

@media ( max-width : 743px) {
	.container_15, .row {
		width: 600px;
	}
	
	.container_15.piece .grid_3,
	.container_15.piece .grid_6,
	.container_15.piece .grid_9,
	.container_15.piece .grid_15 {
		width: 600px;
	}
	
	.container_15, .row {
		width: 600px;
	}

	.container_15 .grid_3 {
		width: 204px;
	}
	
	.container_15 .grid_6 {
		width: 600px;
	}
	
	.container_15 .grid_9 {
		width: 600px;
	}
	
	.container_15 .grid_12 {
		width: 470px;
	}

	.container_15 .grid_15 {
		width: 600px;
	}
	.frame_3 {
		height: 132px;
	}
	.frame_6 {
		height: 752px;
	}
	.frame_9 {
		height: 234px;
	}
	.frame_12 {
		height: 750px;
	}
	
	.frame_15 {
		height: 430px; 
	}
	
	.container_15.frame_6 .grid_3 {
		width: 600px;
	}
	
	.container_15.frame_6 .grid_3.frame_6 {
		height: 750px;
	}
	
	.grid_3 .grid_3.frame_3,
	.grid_9 .grid_9 .grid_3 .grid_3.frame_3 {
		width: 300px;
		height: 196px;
	}
	
	.grid_6.frame_6 {
		height: 412px;
	}
	
	.grid_9 .grid_6,
	.grid_6 .grid_6 {
		width: 474px;
		height: 412px;
	}
	
	.grid_9 .grid_6.frame_12{
		height: 752px;
	}
	.grid_9.frame_12 {
		height: 2256px;
	}
	
	#content .marginer {
		padding: 8px;
	}
	
}

@media ( max-width : 610px) {
	.container_15, .row {
		width: 550px;
	}
	
	.frame_6 {
		height: 656px;
	}
	
	.frame_12 {
		height: 656px;
	}
	
	.frame_15 {
		height: 316px;
	}
	
	.container_15.piece .grid_3,
	.container_15.piece .grid_6,
	.container_15.piece .grid_9,
	.container_15.piece .grid_15,
	.container_15 .grid_3,
	.container_15 .grid_6,
	.container_15 .grid_9,
	.container_15 .grid_15 {
		width: 550px;
	}
	
	.grid_9 .grid_6.frame_12 {
		height: 656px;
	}
	
	.grid_9.frame_12 {
		height: 1570px;
	}
	
	.container_15.frame_6 .grid_3.frame_6 {
		height: 656px;
	}

	
	.container_15.frame_6 .grid_3 {
		width: 550px;
	}
	
	.grid_3 .grid_3.frame_3,
	.grid_9 .grid_9 .grid_3 .grid_3.frame_3 {
		width: 550px;
	}
	
	.grid_6.frame_6,
	.grid_3 .grid_3.frame_3 {
		height: 316px;
	}
	
	#content .marginer {
		padding: 8px;
	}
}
@media (max-width: 560px) {
	.container_15, .row {
		width: 320px;
	}
	
	.frame_3 {
	}
	
	.frame_6 {
		height: 460px;
	}
	
	.frame_12 {
		height: 460px;
	}
	
	.frame_15 {
		height: 200px;
	}
	
	.container_15.piece .grid_3,
	.container_15.piece .grid_6,
	.container_15.piece .grid_9,
	.container_15.piece .grid_15,
	.container_15 .grid_3,
	.container_15 .grid_6,
	.container_15 .grid_9,
	.container_15 .grid_15 {
		width: 320px;
	}
	
	.grid_9 .grid_6.frame_12 {
		height: 460px;
	}
	
	.grid_9.frame_12 {
		height: 1380px;
	}
	
	.container_15.frame_6 .grid_3.frame_6 {
		height: 460px;
	}

	
	.container_15.frame_6 .grid_3 {
		width: 320px;
	}
	
	.grid_3 .grid_3.frame_3,
	.grid_9 .grid_9 .grid_3 .grid_3.frame_3 {
		width: 320px;
	}
	
	.grid_6.frame_6 {
		height: 206px;
	}
	
	#content .marginer {
		padding: 8px;
	}
}
