@CHARSET "UTF-8";


#content div.imageHolder#layoutPlaceholder {
	box-sizing: border-box;
	background-color: #ccc;
	display:block;
	border-radius: 10px;
	box-shadow: 0px 5px 25px -5px rgba(152, 152, 152, 0.91);
	background-image: url('/img/admin/home/add-layout.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

#content div.imageHolder#layoutPlaceholder:hover {
	opacity: 1;
}

#content div#layoutPlaceholder.imageHolder.selected {
	border: solid #faf 2px;
	opacity: 1;
}

#content div.imageHolder.imageAdd {
	background-image: url('/img/admin/home/add.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 5px 25px -5px rgba(152, 72, 72, 0.91);
    opacity: 0.5;
}

#content div.imageHolder.imageAdded {
	box-shadow: 0px 5px 25px -5px rgba(152, 152, 152, 0.91);
    opacity: 1;
}

#content div.imageHolder.imageAdd:hover {
	opacity: 1;
}

#content .piece .buttonContainer{
	position: relative;
	visibility: hidden;	
}

#content .piece:hover .buttonContainer {
	visibility: visible;
}

#content .piece .buttonContainer .buttonHolder {
	position: absolute;
	left: 100px;
	top: 100px;
	background-color: red;
}

#layoutBrowser{
	box-sizing: border-box;
	z-index: 1;
	display: block;
	height: 150px;
	position: relative;
	visibility: hidden;
}

#layoutBrowser.open {
	visibility: visible;
}

#layoutList {
	height: 100%;
	border: solid 2px #aaa;
	background: #dfdfdf;
	white-space: nowrap;
	overflow-x: scroll;
	padding: 0px;
}

#layoutList li.layout_image {
	margin: 10px;
	display: inline-block;
	height: 130px;
}

#imageBrowser {
	display: flex;
	flex-flow: column;
	height: 140px;
	background-color: #dfdfdf;
	position: fixed;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	font-size: 12px;
	font-family: Verdana;
	color: #444;
}

#imageBrowser #imageBrowserHeaderId {
	height: 29px;
	width: 100%;
	border-bottom: solid #aaa 1px;
}

#imageBrowser #imageBrowserHeaderId .title {
	margin-right:15px;
	padding-right: 15px;
	border-right: solid 1px #aaa;
}

#imageBrowser #imageBrowserHeaderId .list,
#imageBrowser #imageBrowserHeaderId .title,
#imageBrowser #imageBrowserHeaderId  ul {
	display: inline-block;
}

#imageBrowser #imageBrowserHeaderId ul {
	margin: 0px;
	padding: 0px;
}

#imageBrowser #imageBrowserHeaderId .list button{
	display: inline-block;
	border: none;
	background: none;
	list-style-type: none;
	padding: 5px;
}

#imageBrowser #imageBrowserHeaderId  .list button:hover{
	background-color:#cdcdcd;
}

#imageBrowser #imageBrowserHeaderId .list button.selected{
	font-weight: bold;	
}

#imageBrowser #imageBrowserPhotosListId {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	overflow-x: scroll;
}

#imageBrowser #imageList li {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
	overflow: hidden;
}

#imageBrowser #imageList .browserImage {
	height: 100%; 
	width: 100%; 
	object-fit: contain;
}

#imageBrowser #imageList li img {
	min-width: 100%;
	opacity: 0.8;
}

#imageBrowser #imageList li img:hover {
	opacity: 1;
}