@CHARSET "UTF-8";

#content div.imageHolder {
	box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.81);
	background: #bbb;
	position: relative;
}

#content div.imageHolder img {
	position: absolute;
	top: -3000px;
	bottom: -3000px;
	left: -3000px;
	right: -3000px;
	margin: auto;
}

#content div.imageHolder:first-child img{
	vertical-align: bottom;
}

#content .imageHolder .fillwidth { 
	max-width: 100%; 
	min-width: 100%; 
}
#content .imageHolder .fillheight { 
	min-height: 100%;
	max-height: 100%;
}

#content img.animatedLoad {
	-moz-transition: opacity 2s; /* Firefox 4 */
	-webkit-transition: opacity 2s; /* Safari and Chrome */
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

#content .fotoVertical img {
	max-width: 100%;
}

#content .fotoHorizontal img {
	max-width: 100%;
}

footer p{
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 0.7em;
	font-family: Helvetica
}