@CHARSET "UTF-8";

html{
 height:100%;
 min-height:100%;
 }

body.login {
	background: url(/img/login/background2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}

.login_background {
	background: -moz-linear-gradient(top, rgba(155,24,15,0.65) 0%, rgba(9,1,1,0.75) 100%);
	background: -webkit-linear-gradient(top, rgba(155,24,15,0.65) 0%,rgba(9,1,1,0.75) 100%);
	background: linear-gradient(to bottom, rgba(125,24,15,0.65) 0%,rgba(40,1,1,0.75) 100%); 
	height: 520px;
	width: 260px;
	display: table;
	text-align:  center;
	border-radius: 4px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 90px;
	 transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.login_background.shadowed {
	-webkit-box-shadow: 0px 0px 300px rgba(255,255,0,0.35);
	-moz-box-shadow: 0px 0px 300px rgba(255,255,0,0.35);
	box-shadow: 0px 0px 300px rgba(255, 255, 0, 0.35);
	background: -moz-linear-gradient(top, rgba(201, 108, 4, 0.4) 0%, rgba(36, 1, 1, 0.75) 100%);
	background: -webkit-linear-gradient(top, rgba(201, 108, 4, 0.4) 0%, rgba(36, 1, 1, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(201, 108, 4, 0.4) 0%, rgba(36, 1, 1, 0.75) 100%);
}

@media all and (max-height:600px) {
	.login_background {
		margin-top: 40px;
		height: 480px;
		width: 250px;
	}
} 

.login_logo {
	height: 50%;
	text-align: center;
}

.accelerated img {
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   /* Other transform properties here */
   
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

}

.logo img {
	position: absolute;
	display: block;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;	
	width: 170px;
	-webkit-transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   	-moz-transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -o-transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    transition: all 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.logo img.shadowed {
	-webkit-filter: drop-shadow(0px 0px 10px #ff0);
    filter: drop-shadow(0px 0px 10px #ff0);
}

.login_form {
	height: 50%;
	text-align: center;
}

.login_form_centerer {
	padding: 30px;
	padding-bottom: 10px;
}

.login_square {
	margin-top: 20%;
	display: table-cell;
	vertical-align: middle;	
	height: 100%;
}

.input_row {
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.login_square input {
	display: inline-block;
	width: 100%;
	line-height: 2rem;
	padding-left: 0.5rem;
	font-size: 1.0rem;
	background: transparent;
	color: #FDFCFD;
	outline: none;
	border: none;
}


.login_square button {
	font-family: 'minstrelposterwhgregular';
	position: relative;
	width: 100%;
	height: 3rem;
	margin: 1rem 0 0.5rem;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(192, 192, 192, 0.5);
	font-size: 1.2rem;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border: none;
}

.login_square .form_message {
	height: 25px;
    padding: 10px;
	font-size: 11px;
}

.login_square .form_message .error {
	color: #f00
}
