@CHARSET "UTF-8";

#top {
	text-align: center;
	font-size: 15pt;
	font-family: 'archivonarrow';
	font-weight: bold;
	height: 25px;
	margin: 10px;
}

#top ul {
	margin: 0px;
	padding: 0px;
}

#top ul li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#top ul li a {
	color: #222;
	text-decoration: none;
}

@media ( max-width : 743px) {
	#top {
		font-size: 12pt;
		height: 20px;
	}
	
	#top ul li {
		margin-right: 10px;
		margin-left: 10px;
	}
}
@media ( max-width : 619px) {
	#top {
		font-size: 10pt;
		height: 15px;
	}
	
	#top ul li {
		margin-right: 5px;
		margin-left: 5px;
	}
}